# Cleaning

Nate Bukowski & Matt Burke

---
**Problem Statement:**
> In which country will a first-time Airbnb user choose to book their stay?
---

In [1]:
# imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [6]:
# read in the data
train = pd.read_csv('./datasets/train_users_2.csv')

In [7]:
train.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [8]:
# check missing
train.isna().sum()

id                              0
date_account_created            0
timestamp_first_active          0
date_first_booking         124543
gender                          0
age                         87990
signup_method                   0
signup_flow                     0
language                        0
affiliate_channel               0
affiliate_provider              0
first_affiliate_tracked      6065
signup_app                      0
first_device_type               0
first_browser                   0
country_destination             0
dtype: int64

In [9]:
# look at gender value counts
train['gender'].value_counts()

-unknown-    95688
FEMALE       63041
MALE         54440
OTHER          282
Name: gender, dtype: int64

In [10]:
# remove all rows in which age is less than 10 or greater than 80
train = train.loc[(train['age'] <= 80) & (train['age'] > 10)].copy()

In [12]:
# look at age distribution
train['age'].describe()

count    122633.000000
mean         36.373578
std          11.272302
min          15.000000
25%          28.000000
50%          33.000000
75%          42.000000
max          80.000000
Name: age, dtype: float64

In [13]:
# replace all empty age values with the median age
train['age'].replace(np.nan, train['age'].median(), inplace=True)

In [14]:
# look at new age distribution
train['age'].describe()

count    122633.000000
mean         36.373578
std          11.272302
min          15.000000
25%          28.000000
50%          33.000000
75%          42.000000
max          80.000000
Name: age, dtype: float64

In [16]:
train.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US
6,lsw9q7uk0j,2010-01-02,20100102012558,2010-01-05,FEMALE,46.0,basic,0,en,other,craigslist,untracked,Web,Mac Desktop,Safari,US

In [17]:
# convert date_first_booking column to datetime datatype
train['date_first_booking'] = pd.to_datetime(train['date_first_booking'])

In [18]:
# check date_first_booking datatype
train['date_first_booking'].dtypes

dtype('<M8[ns]')

In [20]:
# create first_booking_month column containing the month each booking was made
train['first_booking_month'] = pd.DatetimeIndex(train['date_first_booking']).month

In [21]:
# check out new column
train['first_booking_month']

1         NaN
2         8.0
3         9.0
4         2.0
6         1.0
         ...
213441    8.0
213443    7.0
213445    7.0
213446    NaN
213448    NaN
Name: first_booking_month, Length: 122633, dtype: float64

In [22]:
# replace all missing months with 0
train['first_booking_month'].replace(np.nan, 0, inplace=True)

In [23]:
train.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination,first_booking_month
1,820tgsjxq7,2011-05-25,20090523174809,NaT,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF,0.0
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US,8.0
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other,9.0
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US,2.0
6,lsw9q7uk0j,2010-01-02,20100102012558,2010-01-05,FEMALE,46.0,basic,0,en,other,craigslist,untracked,Web,Mac Desktop,Safari,US,1.0

In [24]:
train['first_affiliate_tracked'].isna().sum()

1952

In [25]:
# create fat_boolean column that describes if a value in first_affiliate_tracked is NaN or not
train['fat_boolean'] = train['first_affiliate_tracked'].isna()

In [26]:
# use fat_boolean column 
train = train[train['fat_boolean'] == False]

In [27]:
train['first_affiliate_tracked'].isna().sum()

0

In [28]:
train.isna().sum()

id                             0
date_account_created           0
timestamp_first_active         0
date_first_booking         53966
gender                         0
age                            0
signup_method                  0
signup_flow                    0
language                       0
affiliate_channel              0
affiliate_provider             0
first_affiliate_tracked        0
signup_app                     0
first_device_type              0
first_browser                  0
country_destination            0
first_booking_month            0
fat_boolean                    0
dtype: int64

In [29]:
# drop columns that won't be used for modeling
train.drop(columns=['date_first_booking',
                    'fat_boolean',
                    'date_account_created',
                    'timestamp_first_active'], inplace=True)

In [30]:
train.head()

,id,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination,first_booking_month
1,820tgsjxq7,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF,0.0
2,4ft3gnwmtx,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US,8.0
3,bjjt8pjhuk,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other,9.0
4,87mebub9p4,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US,2.0
6,lsw9q7uk0j,FEMALE,46.0,basic,0,en,other,craigslist,untracked,Web,Mac Desktop,Safari,US,1.0

In [31]:
# dummify categorical variables
train = pd.get_dummies(train, columns=['gender',
                                       'signup_method',
                                       'signup_flow',
                                       'language',
                                       'affiliate_channel',
                                       'affiliate_provider',
                                       'first_affiliate_tracked',
                                       'signup_app', 
                                       'first_device_type', 
                                       'first_browser',
                                       'first_booking_month'], drop_first=True)

In [32]:
train.head()

,id,age,country_destination,gender_FEMALE,gender_MALE,gender_OTHER,signup_method_facebook,signup_method_google,signup_flow_1,signup_flow_2,...,first_booking_month_3.0,first_booking_month_4.0,first_booking_month_5.0,first_booking_month_6.0,first_booking_month_7.0,first_booking_month_8.0,first_booking_month_9.0,first_booking_month_10.0,first_booking_month_11.0,first_booking_month_12.0
1,820tgsjxq7,38.0,NDF,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4ft3gnwmtx,56.0,US,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,bjjt8pjhuk,42.0,other,1,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,87mebub9p4,41.0,US,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,lsw9q7uk0j,46.0,US,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
# convert target variable into numeric values
train['country_destination'] = train['country_destination'].map({'US':0,
                                                                 'FR':1,
                                                                 'CA':2,
                                                                 'GB':3,
                                                                 'ES':4,
                                                                 'IT':5,
                                                                 'PT':6,
                                                                 'NL':7,
                                                                 'DE':8,
                                                                 'AU':9,
                                                                 'NDF':10,
                                                                 'other':11})

In [34]:
train.head()

,id,age,country_destination,gender_FEMALE,gender_MALE,gender_OTHER,signup_method_facebook,signup_method_google,signup_flow_1,signup_flow_2,...,first_booking_month_3.0,first_booking_month_4.0,first_booking_month_5.0,first_booking_month_6.0,first_booking_month_7.0,first_booking_month_8.0,first_booking_month_9.0,first_booking_month_10.0,first_booking_month_11.0,first_booking_month_12.0
1,820tgsjxq7,38.0,10,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4ft3gnwmtx,56.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,bjjt8pjhuk,42.0,11,1,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,87mebub9p4,41.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,lsw9q7uk0j,46.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
# convert clean dataset to a csv
train.to_csv('./data/train_clean.csv', index=False)